<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <style type="text/css">

            body{
                background:#f9f9f9
            }
            .nav {
                background: #fff;
            }

            .main{
                padding-top:96px;
            }
            .profile_icon{
                border-radius: 50%;
                border:1px solid #ededed;
            }
            .header{
                font-size: 32px;
                line-height: 40px;
                font-weight: 200;
            }
            .posts {
                padding:0px;
                margin-bottom:16px;
                margin-top:16px;
            }
            .posts img{
                width:100%;
            }
            .nav_logo{
                padding:12px
            }
            .search-container {
                padding: 24px 0px 0px 0px;
            }

        </style>
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top nav">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-md-offset-2">
                        <div class="nav_logo">
                            <img src="https://lh3.googleusercontent.com/ctrb6psnYY3GadQ6Z_fxIaY23qVp4oDbmL1lRpOU2K_SLLG4ahHS0iiES6n5dZaaYbbe5I1ocS5dtuShXsgyHiTZl-c=s230">
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="search-container">
                            <input class="form-control" style="background: #f9f9f9" type="text" placeholder="Search ..."/>
                        </div>

                    </div>

                </div>
            </div>

        </nav>
        <div class="container main" >

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="profile_icon" src="{{graphql.user.profile_pic_url}}" />

                        </div>
                        <div class="col-md-8">
                            <h1 class="header">{{graphql.user.username}}</h1>

                            <div class="row">
                                <div class="col-md-3">
                                   <strong> {{graphql.user.edge_owner_to_timeline_media.count}}</strong> <span>Posts</span>
                                </div>
                                <div class="col-md-3">
                                   <strong> {{graphql.user.edge_followed_by.count}}</strong> <span> Followers</span>

                                </div>
                                <div class="col-md-3">
                                    <strong>{{graphql.user.edge_follow.count}}</strong><span>  Following</span>
                                </div>

                            </div>

                            <p style="margin-top: 24px">

                                {{graphql.user.biography}}


                            </p>

                        </div>
                    </div>


                    <div class="row">

                        {{#graphql.user.edge_owner_to_timeline_media.edges}}
                            <div class="col-md-4">
                                <div class="posts">
                                    <img src="{{node.thumbnail_src}}" />
                                </div>

                            </div>

                        {{/graphql.user.edge_owner_to_timeline_media.edges}}

                    </div>
                </div>
            </div>
        </div>

    </body>

</html>